@font-face {
 font-family: 'Noto Sans';
 src:url('../fonts/NotoSans-Regular.ttf') format('truetype');
 font-weight:400;
 font-style:normal;
}
@font-face {
 font-family: 'Noto Sans Bold';
 src:url('../fonts/SVN-Franko.ttf') format('truetype');
 font-weight:normal;
 font-style:normal;
}
@font-face {
 font-family: 'Franko';
 src:url('../fonts/NotoSans-Bold.ttf') format('truetype');
 font-weight:700;
 font-style:normal;
}
body{
	font-family: 'Noto Sans';
	color: #fff;
}
a,p{
	color: #fff;
}
a:hover{
	color:#f3c557;
}
.txt-color{
	background: -webkit-linear-gradient(#9f7700, #f3c557);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
img{max-width: 100%;}
ul{
	list-style: none;
	padding-left: 0px;
}
p{
	margin-bottom: 10px;
}
h3.title{
	position: relative;
	padding-left: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
}
h3.title.reduce-token img{
	width: 118px;
}
h3.title.reduce-heroes img{
	width: 88px;
}
h3.title.reduce-gameplay img{
	width: 104px;
}
h3.title.reduce-newsupdate img{
	width: 130px;
}
h3.title.reduce-team img{
	width: 122px;
}
h3.title.reduce-advisors img{
	width: 157px;
}
h3.title.reduce-faq img{
	width: 52px;
}
.ps-timeline-sec h3.title img{
	width: 104px;
}
h3.title:before{
	position: absolute;
	top: -10px;
	left: 0px;
	content: '';
	width: 84px;
	height: 84px;
	display: inline-block;
	background: url('../images/sprite.png') -8px -53px no-repeat;
	zoom: 0.5;
}
.header-top{
	background: url('../images/bg-menu.png');
}
.ntf-banner img{
	width: 100%;
}
.top-link{
	width: 100%;
	text-align: right;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 5px 5px;
	position: relative;
}
.top-link .logo{
	width: 90px;
	position: absolute;
	left: 0px;
	top: 30px;
}
.top-link .link a{
	margin-right: 10px;
	font-size: 14px;
	position: relative;
	font-family: 'Franko';
}
.top-link .link a.active{
	color: #ffff12;
}
.top-link .link a:after{
	content: '';
	width: 2px;
	height: 20px;
	background: url("../images/bg-border.png");
	display: inline-block;
	position: absolute;
	right: -9px;
	top: 0px;
}
.top-link .link a:last-of-type:after{
	display: none;
}
.top-link button{
	padding: 0px;
	border: none;
	background: none;
	width: 80px;
}
.header-top nav{
	color: #fff;

}
.header-bottom{
	background: url('../images/bg-menu.png');
	height: 44px;
	width: 100%;
}
.ntf-land-survival .left-content,.ntf-land-survival .img-gunner{
	width: 100%;
}
.ntf-land-survival .left-content{
	margin-bottom: 20px;
}
.ntf-land-survival .img-gunner{
	text-align: center;
}
.reward{
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
}
.reward .img-reward{
	margin-bottom: 30px;
	width: 100%;
}
.reward h5{
	margin: 20px 0px;
	background: -webkit-linear-gradient(#9f7700, #f3c557);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Noto Sans Bold';
}
.btn-download{
	display: flex;
	flex-wrap: nowrap;
	margin: 20px auto;
}
.btn-download a{
	margin-right: 5px;
}

.heroes-content,.ntf-land-survival{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.heroes-content .illustration-img{
	width: 100%;
}
.heroes-content .illustration-img img{
	margin-bottom: 20px;
}
.heroes-content .right-content{
	width: 100%;
}
.heroes-summary {
	margin: 20px 0px;
}
.heroes-summary p{
	line-height: 36px;
}
.heroes-summary h5{
	font-family: 'Noto Sans Bold';
}
.news-slider {
	text-align: center;
}
.wrap-slider{
	position: relative;
}
.btns-slider{
	position: absolute;
	left: 10px;
	top: 40%;
	width: 100%;
	z-index: 99;
}
.customPreviousBtn,.customNextBtn{
	cursor: pointer;
}
.customNextBtn{
	right: 10px;
	left: auto;
	position: absolute;
}
.game-play .btns-slider,.game-heroes .btns-slider{
	position: relative;
	text-align: center;
	margin-top: 25px;
}
.game-heroes .btns-slider{
	text-align: left;
}
.game-play .customNextBtn,.game-heroes .customNextBtn{
	right: auto;

}

.news-slider p{
	margin-bottom: 18px;
	line-height: 36px;
	padding: 0px 15px 10px 15px;

}
.btns-slider{
	position: absolute;
	left: 0px;
}
.news-slider .item{
	background: rgba(66, 57, 47, 0.5);
}
.news-slider .item img{
	margin-bottom: 20px;
}
.list-member{
	text-align: center;
}
.list-member .item {
	width: 100%;
	padding: 0px 4px;
}
.list-member .item p{
	color: #fff;
}
 .list-member .item h4{
	font-family: 'Noto Sans Bold';
	background: -webkit-linear-gradient(#9f7700, #f3c557);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.list-member .item img{
	display: block;
	margin: 20px auto;
	width: 140px;
	
}
.list-member .item img:first-of-type{
	border-radius: 100%;
}

.ntf-table .tb-title{
	color: #f2c454;
	font-family: 'Noto Sans Bold';
}
.ntf-table,.list-member{
	display: flex;
	flex-wrap: wrap;
}
.ntf-table table{
	color: #fff;
	width: 100%;
}
.ntf-table .img-faq{
	width: 100%;
}
.ntf-table table td{
	font-size: 14px;
	padding: 10px;
}
#main-content{
	background: linear-gradient(#381f0a 2%,#251b19 4%,#151515 9%);
}
.faq{
	background: linear-gradient(#151515,#251b19, #381f0a);
	padding: 30px 0px;
}
.our-teams{
	clear: both;
}
footer{
	background: #151515;
	color: #fff;
	padding: 30px 0px;
}
footer .title{
	margin-bottom: 30px;
}
footer a,footer p{
	font-size: 13px;
}
.logo-footer{
	width: 100%;
	margin-bottom: 30px;
	text-align: center;
}
.links-footer,.social-footer,.download-app{
	width: 33%;

}
.links-footer{
	width: 25%;
}
.links-footer img{
	width: 39px;
}
.download-app .title img{
	width: 105px;
	margin-top: 4px;
}
.social-footer img{
	width: 105px;
}
footer .content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
footer .links li{
	margin-bottom: 20px;
}

footer .social li a{
	position: relative;
	padding-left: 35px;
}
footer .social li a span{
	width: 35px;
	height: 35px;
	display: inline-block;
	position: absolute;
	left: 0px;
	top: -11px;
	zoom: 0.7;
}
footer .social li a .news{
	background: url('../images/sprite.png') -98px 2px no-repeat
}
footer .social li a .discord{
	background: url('../images/sprite.png') -15px 2px no-repeat
}
footer .social li a .telegram{
	background: url('../images/sprite.png') -145px 2px no-repeat
}
footer .social li a .twitter{
	background: url('../images/sprite.png') -203px 2px no-repeat
}
footer .social li a .facebook{
	background: url('../images/sprite.png') -51px -4px no-repeat
}
footer .social li a .youtube{
	background: url('../images/sprite.png') -262px 6px no-repeat
}

@media only screen and (min-width: 375px) {
	footer a, footer p{
		font-size: 14px;
	}
	h3.title.reduce-token img{
		width: 140px;
	}
	h3.title.reduce-heroes img{
		width: 104px;
	}
	h3.title.reduce-gameplay img{
		width: 132px;
	}
	h3.title.reduce-newsupdate img{
		width: 174px;
	}
	h3.title.reduce-team img{
		width: 140px;
	}
	h3.title.reduce-advisors img{
		width: 184px;
	}
	h3.title.reduce-faq img{
		width: 66px;
	}
	.ps-timeline-sec h3.title img{
		width: 122px;
	}
	h3.title:before{
		top: -13px;
	}
}
@media only screen and (min-width: 321px) {
	.top-link{

		padding: 5px 10px;

	}
}

@media only screen and (min-width: 460px) {
	.dark-land-survival h3.title img{
		width: 390px;
	}
}

@media only screen and (min-width: 480px) {
	footer a, footer p{
		font-size: 14px;
	}
}

@media only screen and (min-width: 640px) {
	.ntf-table table{
		margin-right: 20px;
		width: calc(55% - 20px);
	}
	.ntf-table .img-faq{
		width: 45%;
	}
}
@media only screen and (min-width: 768px) {
	.links-footer img,.social-footer img,.social-footer img,.download-app .title img{
		width: auto;
	}
	
	footer .social li a span{
		zoom: 1;
	}
	.list-member .item {
		width: 33.33%;
	}
	
	.heroes-summary h5{
		font-size: 50px;
		margin-bottom: 35px;
	}
	.heroes-content .illustration-img{
		width: 40%;
	}
	.heroes-content .right-content{
		width: calc(60% - 20px);
	}
	.h3.title{
		zoom: 1;
	}
	.top-link .logo{
		width: 256px;
		top: 48px;
	}
	.top-link .link a{
		margin-right: 58px;
		font-size: 22px;
	}
	.top-link .link a:after{
		right: -30px;
		height: 45px;
		top: -4px;
	}
	.top-link button{
		width: 125px;
	}
	.ntf-land-survival .img-gunner{
		width: 45%;
		text-align: right;
		position: relative;
		top: -50px;
	}
	.ntf-land-survival .left-content{
		width: 53%;
	}
	.ntf-land-survival .left-content p,.reward h5,.reward p,footer a, footer p,.ntf-table table td,.heroes-summary p{
		font-size: 16px;
	}
	.reward h5{
		font-weight: bold;
	}
	.reward .img-reward{
		width: 33.33%;
	}
	.reward .img-reward img{
		width: 75%;
		text-align: center;
	}
	.reward .img-reward p{
		width: 85%;
		margin: 0 auto;
	}
	h3.title{
		padding-left: 100px;
		margin-top: 60px;
		margin-bottom: 60px;

	}
	.ps-timeline-sec h3.title{
		margin-bottom: 110px;
	}
	h3.title img{
		width: auto!important;
	}
	h3.title:before{
		zoom: 1;
		top: -26px;
	}
	.dark-land-survival{
		padding-top: 40px;
	}
	.btn-download a{
		margin-right: 15px;
	}

}
@media only screen and (min-width: 992px) {
	.news-slider p,.ntf-land-survival .left-content p,.reward h5,.reward p,footer a, footer p,.ntf-table table td,.heroes-summary p{
		font-size: 21px;
	}
	.list-member .item p{
		font-size: 18px;
	}
	.top-link .logo{
		top: 30px;
	}
	.ntf-table table td{
		padding: 17px 30px;
		min-width: 210px;
	}
	.header-bottom{
		height: 63px;
	}
	.btn-download{
		margin-top: 40px;
	}
	.reward{
		margin-top: 100px;
	}
	.faq{
		padding-bottom: 130px;
	}
	.news-slider p{
		padding: 0px 37px 10px 37px;
	}
	.heroes-summary{
		padding-left: 10px;
	}
	.big-token{
		padding: 20px 0px;
	}
	.reward .img-reward.middle p{
		width: 80%;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 1024px) {
	footer{
		padding: 90px 0px 160px 0px;
	}
	.links-footer,.social-footer,.social-footer,.download-app,.logo-footer{
		width: auto;
	}
	.logo-footer{
		text-align: left;
	}
	.download-app p{
		max-width: 235px;
	}
}
@media only screen and (min-width: 1200px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl{
		max-width: 1124px;
	}
	.reward .img-reward img{
		width: auto;

	}
	.reward .img-reward p{
		width: 100%;
	}
}

@media only screen and (max-width: 1023px) {
	.download-app .btn-download{
		flex-wrap: wrap;
		text-align: center;
	}
	.download-app .btn-download a{
		width: 100%;
		display: inline-block;
		margin-bottom: 10px;
	}
}

.ps-timeline-sec {
  position: relative;

}
.ps-timeline-sec .container {
  position: relative;
}
.ps-timeline-sec .container ol.ps-timeline {
  padding: 0;
  border-top: 3px solid #fff;
  list-style: none;
}
.ps-timeline-sec .container ol.ps-timeline >li {
  float: left;
  width: 20%;
  padding-top: 30px;
  position: relative;
  top: -3px;
}
.ps-timeline-sec .container ol.ps-timeline >li.active {
	border-top: 3px solid #ffe879;
}
.ps-timeline-sec .container ol.ps-timeline >li span {
  width: 48px;
  height: 48px;
  margin-left: -25px;
  background: #fff;
  box-shadow: 0 0 0 0px #fff;
  text-align: center;
  line-height: 50px -10;
  color: #df8625;
  font-style: normal;
  position: absolute;
  top: -22px;
  left: 30%;
  background: url("../images/timeline.png") no-repeat;
}
.ps-timeline-sec .container ol.ps-timeline >li.active span{
	background: url("../images/timeline-active.png") no-repeat;
}

.ps-timeline-sec .container ol.ps-timeline >li .img-handler-top {
  position: absolute;
  bottom: 0;
  margin-bottom: 60px;
  width: 100%;
  left: 10px;
  top: -57px;
}
.ps-timeline-sec .container ol.ps-timeline >li .img-handler-top img {
  display: table;
  margin: 0 auto;
}
.ps-timeline-sec .container ol.ps-timeline >li .img-handler-bot {
  position: absolute;
  margin-top: 60px;
  width: 100%;
}
.ps-timeline-sec .container ol.ps-timeline >li .img-handler-bot img {
  display: table;
  margin: 0 auto;
}
.ps-timeline-sec .container ol.ps-timeline >li p {
  text-align: left;
  width: 90%;
  margin: 0 auto;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
}
.ps-timeline-sec .container ol.ps-timeline >li.active .img-handler-top p{
	background: -webkit-linear-gradient(#9f7700, #f3c557);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;


}
.ps-timeline-sec .container ol.ps-timeline >li .ps-top {
  position: absolute;
  bottom: 0;
  margin-bottom: 100px;
}
.ps-timeline-sec .container ol.ps-timeline >li .ps-bot {

  margin-top: 10px;
  color: #fff;
}
.ps-timeline-sec ol.ps-timeline >li .ps-bot li {
	padding-left: 20px;
	position: relative;
	margin-bottom: 15px;
	font-size: 19px;
}
.ps-timeline-sec ol.ps-timeline >li .ps-bot li:before{
	content: '';
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	left: 0px;
	top: 6px
}
@media screen and (max-width: 767px) {

  .ps-timeline-sec .container ol.ps-timeline {
    border-left: 3px solid #fff;
    padding-left: 0 !important;
    padding-top: 120px !important;
    border-top: 0 !important;
    margin-left: 10px;
  }
  .ps-timeline-sec .container ol.ps-timeline >li {
    height: 220px;
    float: none !important;
    width: inherit !important;
    padding-top: 10px;
    border-top: 3px solid #fff;
  }
  .ps-timeline-sec .container ol.ps-timeline >li:nth-child(2) .img-handler-bot img {
    width: 70px;
  }
  .ps-timeline-sec .container ol.ps-timeline >li:last-child {
    margin: 0;
    bottom: 0 !important;
    height: 120px;
  }
  .ps-timeline-sec .container ol.ps-timeline >li:last-child .img-handler-bot {
    bottom: 40px !important;
    width: 40% !important;
    margin-left: 25px !important;
    margin-top: 0 !important;
  }
  .ps-timeline-sec .container ol.ps-timeline >li:last-child .img-handler-bot img {
    width: 100%;
  }
  .ps-timeline-sec .container ol.ps-timeline >li:last-child .ps-top {
    margin-bottom: 0 !important;
    top: 20px;
    width: 50% !important;
  }
  .ps-timeline-sec .container ol.ps-timeline >li span {
    left: 0 !important;
    top: -25px;
  }

  .ps-timeline-sec .container ol.ps-timeline >li .img-handler-top {
    width: 30% !important;
    margin-left: 35px !important;
    top: -40px;
  }
  .ps-timeline-sec .container ol.ps-timeline >li .img-handler-top img {
    margin: 0 auto !important;
    width: 80% !important;
  }
  .ps-timeline-sec .container ol.ps-timeline >li .img-handler-bot {
    width: 30% !important;
    margin-left: 35px !important;
  }
  .ps-timeline-sec .container ol.ps-timeline >li p {
    font-size: 20px;
  }

  .ps-timeline-sec .container ol.ps-timeline >li .ps-top {
    width: 60% !important;
    float: right !important;
    right: 0;
  }
  .ps-timeline-sec .container ol.ps-timeline >li .ps-bot {
    width: 60% !important;
    float: right !important;
    right: 0;
  }
  .ps-timeline-sec ol.ps-timeline >li .ps-bot li{
  	margin-bottom: 10px;
  	font-size: 17px;
  }
}
@media screen and (max-width: 479px) {
	.ps-timeline-sec .container ol.ps-timeline >li p{
		width: 100%;
	}
}
